({
    "player_summons": [
        SummonType ( path: "summons/Bane.summon"),
        SummonType ( path: "summons/Brutalizer.summon"),
        SummonType ( path: "summons/Butcher.summon"),
        SummonType ( path: "summons/Cherub.summon"),
        SummonType ( path: "summons/Ember.summon"),
        SummonType ( path: "summons/Feline.summon"),
        SummonType ( path: "summons/Ghost.summon"),
        SummonType ( path: "summons/Ghoul.summon"),
        SummonType ( path: "summons/Golem.summon"),
        SummonType ( path: "summons/Guardian.summon"),
        SummonType ( path: "summons/Pixie.summon"),
        SummonType ( path: "summons/Pylon.summon"),
        SummonType ( path: "summons/Seraph.summon"),
        SummonType ( path: "summons/Skeleton.summon"),
        SummonType ( path: "summons/Undine.summon"),
        SummonType ( path: "summons/Vampire.summon"),
        SummonType ( path: "summons/Virtue.summon"),
        SummonType ( path: "summons/Vulpine.summon"),
        SummonType ( path: "summons/Watcher.summon"),
        SummonType ( path: "summons/Wisp.summon"),
        SummonType ( path: "summons/Wolfine.summon"),
    ],
    "npc_summons": [
        SummonType ( path: "summons/Bones.summon"),
        SummonType ( path: "summons/Pain.summon"),
        SummonType ( path: "summons/Death.summon"),
        SummonType ( path: "summons/Necromancer.summon"),
    ],
    "waves": [
        SummonedMinions ( path: "waves/wave0.wave"),
        SummonedMinions ( path: "waves/wave1.wave"),
        SummonedMinions ( path: "waves/wave2.wave"),
        SummonedMinions ( path: "waves/wave3.wave"),
        SummonedMinions ( path: "waves/wave4.wave"),
        SummonedMinions ( path: "waves/wave5.wave"),
        SummonedMinions ( path: "waves/wave6.wave"),
        SummonedMinions ( path: "waves/wave7.wave"),
        SummonedMinions ( path: "waves/wave8.wave"),
        SummonedMinions ( path: "waves/boss0.wave"),
        SummonedMinions ( path: "waves/boss1.wave"),
    ],
    "brains": [
        CharacterBrainDef ( path: "brains/construct.brain"),
        CharacterBrainDef ( path: "brains/death.brain"),
        CharacterBrainDef ( path: "brains/demon.brain"),
        CharacterBrainDef ( path: "brains/draining.brain"),
        CharacterBrainDef ( path: "brains/elemental_buff_death.brain"),
        CharacterBrainDef ( path: "brains/evading_debuff_nearest.brain"),
        CharacterBrainDef ( path: "brains/evading_prioritized.brain"),
        CharacterBrainDef ( path: "brains/evading.brain"),
        CharacterBrainDef ( path: "brains/fighting_prioritized.brain"),
        CharacterBrainDef ( path: "brains/fighting.brain"),
        CharacterBrainDef ( path: "brains/large_construct.brain"),
        CharacterBrainDef ( path: "brains/necromancer.brain"),
    ]
})