.help__parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    align-items: flex-end;
    background-color: #00000000;
}

.help__bg {
    position-type: absolute;
    width: 100%;
    max-width: 256px;
    height: 100%;
}

.help {
    position-type: absolute;
    display: flex;
    width: 240px;
    max-width: 240px;
    height: 80px;
    background-color: #000000bb;
}

.help__text {
    margin: 8px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 40px;
    max-width: 240px;
    text-align: center;
}