#main_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;
}

#main_menu__play {
    align-self: center;
}

.hidden {
    display: none;
}