.summon_button {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 8px;
}

.summon_button__bg {
    position-type: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.hovered .summon_button__bg {
    background-color: #999;
}

.selected .summon_button__bg {
    background-color: #99f;
}

.summon_button__icon {
    width: 50%;
    height: 50%;
}

.summon_button__name {
    color: black;
    font-size: 14px;
}

.summon_button__hotkey {
    position-type: absolute;
    left: 8px;
    top: 8px;
    font-size: 20px;
    color: #000;
}

.summon_button__mana_cost {
    color: #77f;
    font-size: 20px;
}